<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta name='description' content='CNode：Node.js专业中文社区'>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="nodejs, node, express, connect, socket.io"/>
    <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
    <meta name="referrer" content="always">


    <meta name="author" content="EDP@TaoBao"/>

    <meta property="wb:webmaster" content="617be6bd946c6b96"/>


    <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>


    <link rel="icon" href="//o4j806krb.qnssl.com/public/images/cnode_icon_32.png" type="image/x-icon"/>


    <!-- style -->
    <link rel="stylesheet" href="/css/index.css" media="all"/>


    <!-- scripts -->
    <script src="/script/index.min.js"></script>

    <!-- scripts -->
    <script src="/script/common.js"></script>


    <title>CNode：Node.js专业中文社区</title>

    <meta content="_csrf" name="csrf-param">
    <meta content="MCS952Bb-QrOv6wvofzkV-uaL8MfH7Yh6nkQ" name="csrf-token">
</head>
<body>
<!-- navbar -->
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class='brand' href='/'>

                <img src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg"/>

            </a>

            <form id='search_form' class='navbar-search' action="/search">
                <input type='text' id='q' name='q' class='search-query span3' value=''/>
            </form>
            <ul class='nav pull-right'>
                <li><a href='/'>首页</a></li>

                <li><a href='/getstart'>新手入门</a></li>
                <li><a href='/api'>API</a></li>

                <li><a href="/about" target="">关于</a></li>


                <li><a href='/signup'>注册</a></li>
                <li><a href='/signin'>登录</a></li>

            </ul>
            <a class="btn btn-navbar" id="responsive-sidebar-trigger"> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        </div>
    </div>
</div>
<div id='main'>
    <div id='sidebar'>

        <div class='panel'>

            <div class='inner'>
                <p>CNode：Node.js专业中文社区</p>

                <div>
                    您可以 <a href='/signin'>登录</a> 或 <a href='/signup'>注册</a> , 也可以 <a href="/auth/github">
          <span class="span-info">
            通过 GitHub 登录
          </span> </a>
                </div>
            </div>

        </div>


        <div class='panel'>
            <div class='inner ads'>


                <a href="https://0x7.me/UDyj" target="_blank" class="banner sponsor_outlink" data-label="qiniu-sidebar">
                    <img src="//dn-cnode.qbox.me/Fv9R31Y6ySKKJi95ldk9TRkJ7o5O"> </a>


                <div class="sep10"></div>

                <a href="https://www.aliyun.com/product/nodejs?ref=cnode" target="_blank" class="banner sponsor_outlink" data-label="alinode">
                    <img src="//dn-cnode.qbox.me/Fn4D6BhOTz1IswvmzeZ1q7QW1ls_"> </a>


                <div class="sep10"></div>

                <a href="https://render.alipay.com/p/s/taobaonpm_click/image_click_25" target="_blank" class="banner sponsor_outlink" data-label="aliyun">
                    <img src="//dn-cnode.qbox.me/Fu6b5DIbI_Va2i5oFjIByRGizFuP"> </a>


                <div class="sep10"></div>

                <a href="http://www.ucloud.cn/site/active/gift.html?utm_source=cnodejs&utm_medium=content_pic_pc&utm_campaign=multicloud&utm_content=gift&ytag=cnodejs" target="_blank" class="banner sponsor_outlink" data-label="ucloud-banner">
                    <img src="//dn-cnode.qbox.me/FgQS-GQDfqwAD_v0NuhyYUOUk5MG"> </a>

            </div>
        </div>


        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>无人回复的话题</span>
            </div>
            <div class='inner'>

                <ul class="unstyled">
                    <li>
                        <div>
                            <a class='dark topic_title' href="/topic/5aa0ea60f5dfc27d7ad985fc" title="Pandora.js 专业的 Node.js 应用监控管理器，阿里开源">Pandora.js 专业的 Node.js 应用监控管理器，阿里开源</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a class='dark topic_title' href="/topic/5aa0e892ce4a27f867526ef8" title="一个文件分享的网站">一个文件分享的网站</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a class='dark topic_title' href="/topic/5aa0e25a19b2e3db18959bee" title="child_process和IPC探究(标题党，其实并没有IPC)">child_process和IPC探究(标题党，其实并没有IPC)</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a class='dark topic_title' href="/topic/5aa0e1ddce4a27f867526ef3" title="MYSQL ORDER BY 使用 IF 以及使用 IN">MYSQL ORDER BY 使用 IF 以及使用 IN</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a class='dark topic_title' href="/topic/5aa0c42ece4a27f867526edd" title="nuxtjs+express+vue2+vuex搭建的服务端渲染（SSR）个人网站项目">nuxtjs+express+vue2+vuex搭建的服务端渲染（SSR）个人网站项目</a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>


        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>积分榜</span> &nbsp; <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
            </div>
            <div class='inner'>

                <ol>
                    <li>
                        <span class='top_score'>20845</span>
                        <span class="user_name"><a href="/user/i5ting">i5ting</a></span>
                    </li>
                    <li>
                        <span class='top_score'>14825</span>
                        <span class="user_name"><a href="/user/alsotang">alsotang</a></span>
                    </li>
                    <li>
                        <span class='top_score'>9340</span>
                        <span class="user_name"><a href="/user/leapon">leapon</a></span>
                    </li>
                    <li>
                        <span class='top_score'>8745</span>
                        <span class="user_name"><a href="/user/jiyinyiyong">jiyinyiyong</a></span>
                    </li>
                    <li>
                        <span class='top_score'>6875</span>
                        <span class="user_name"><a href="/user/yakczh">yakczh</a></span>
                    </li>
                    <li>
                        <span class='top_score'>6180</span> <span class="user_name"><a href="/user/imhered">imhered</a></span>
                    </li>
                    <li>
                        <span class='top_score'>5940</span>
                        <span class="user_name"><a href="/user/DevinXian">DevinXian</a></span>
                    </li>
                    <li>
                        <span class='top_score'>5305</span>
                        <span class="user_name"><a href="/user/magicdawn">magicdawn</a></span>
                    </li>
                    <li>
                        <span class='top_score'>4740</span>
                        <span class="user_name"><a href="/user/captainblue2013">captainblue2013</a></span>
                    </li>
                    <li>
                        <span class='top_score'>4675</span> <span class="user_name"><a href="/user/atian25">atian25</a></span>
                    </li>

                </ol>

            </div>
        </div>


        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>友情社区</span>
            </div>
            <div class='inner'>
                <ol class="friendship-community">
                    <li>
                        <a href="https://ruby-china.org/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/ruby-china-20150529.png"> </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="http://golangtc.com/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/golangtc-logo.png"> </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="http://phphub.org/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/phphub-logo.png"> </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="https://testerhome.com/" target="_blank">
                            <img src="//dn-cnode.qbox.me/FjLUc7IJ2--DqS706etPQ1EGajxK"> </a>
                    </li>
                </ol>
            </div>
        </div>
        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>客户端二维码</span>
            </div>
            <div class='inner cnode-app-download'>
                <img width='200' src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU"> <br/>
                <a href="https://github.com/soliury/noder-react-native" target="_blank">客户端源码地址</a>
            </div>
        </div>

    </div>


    <div id="content">
        <div class="panel">
            <div class="header">

                <a href="/?tab=all" class="topic-tab <%= tab === 'all' ? 'current-tab' : '' %>">全部</a>

                <a href="/?tab=good" class="topic-tab <%= tab === 'good' ? 'current-tab' : '' %>">精华</a>

                <a href="/?tab=share" class="topic-tab <%= tab === 'share' ? 'current-tab' : '' %>">分享</a>

                <a href="/?tab=ask" class="topic-tab <%= tab === 'ask' ? 'current-tab' : '' %>">问答</a>

                <a href="/?tab=job" class="topic-tab <%= tab === 'job' ? 'current-tab' : '' %>">招聘</a>

                <a href="/?tab=dev" class="topic-tab <%= tab === 'dev' ? 'current-tab' : '' %>">客户端测试</a>

            </div>

            <div class="inner no-padding">
                <div id="topic_list">
                    <% for(var i = 0;i < data.length;i++){ %>
                    <div class='cell'>

                        <a class="user_avatar pull-left" href="/user/<%= data[i].author.loginname %>">
                            <img src="<%= data[i].author.avatar_url %>" title="<%= data[i].author.loginname %>"/> </a>

                        <span class="reply_count pull-left">
    <span class="count_of_replies" title="回复数">
      <%= data[i].reply_count %>
    </span>
    <span class="count_seperator">/</span>
    <span class="count_of_visits" title='点击数'>
      <%= data[i].visit_count %>
    </span>
  </span>


                        <a class='last_time pull-right' href="/topic/592917b59e32cc84569a7458#5a9dae067811af0f6522210c">
                            <img class="user_small_avatar" src="https://avatars1.githubusercontent.com/u/13469073?v=4&amp;s=120">
                            <span class="last_active_time"><%= data[i].last_reply_at %></span> </a>

                        <div class="topic_title_wrapper">

                            <% if((data[i].top || data[i].good) || (tab === 'all' || tab === 'good')){ %>
                            <span class='<%= data[i].top || data[i].good ? 'put_top' : 'topiclist-tab' %>'><%= data[i].top ? '置顶' : (data[i].good ? '精华' : utils.getTabName(data[i].tab)) %></span>
                            <% } %>

                            <a class='topic_title' href='/topic/<%= data[i].id %>' title='<%= data[i].title %>'> <%= data[i].title %> </a>
                        </div>
                    </div>
                    <% } %>
                </div>


                <div class='pagination' current_page='<%= page %>'>
                    <ul>
                        <% if(page == 1){ %>
                        <li class='disabled'><a>«</a></li>
                        <% }else{ %>
                        <li><a href="/?tab=<%= tab %>&amp;page=<%= page - 1 %>">«</a></li>
                        <% } %>
                        <% if(page > 3){ %>
                        <li><a>...</a></li>
                        <% } %>
                        <% let s = (Number(page) - 2 < 1 ? 1 : Number(page) - 2),
                                e = s + 5; for(let i = s;i < e;i++){ %>
                        <li class="<%= i == page ? 'active disabled' : '' %>">
                            <a href='/?tab=<%= tab %>&amp;page=<%= i %>'><%= i %></a></li>

                        <% } %>
                        <li><a>...</a></li>
                        <li><a href="/?tab=<%= tab %>&amp;page=<%= Number(page) + 1 %>">»</a></li>
                    </ul>
                </div>
                <script>
                    // $(document).ready(function () {
                    //     var $nav = $('.pagination');
                    //     var current_page = $nav.attr('current_page');
                    //     if (current_page) {
                    //         $nav.find('li').each(function () {
                    //             var $li = $(this);
                    //             var $a = $li.find('a');
                    //             if ($a.html() == current_page) {
                    //                 $li.addClass('active');
                    //                 $a.removeAttr('href');
                    //             }
                    //         });
                    //     }
                    // });
                </script>

            </div>

        </div>
    </div>

</div>
<div id='backtotop'>回到顶部</div>
<div id='footer'>
    <div id='footer_main'>
        <div class="links">
            <a class='dark' href='/rss'>RSS</a> | <a class='dark' href='https://github.com/cnodejs/nodeclub/'>源码地址</a>
        </div>

        <div class='col_fade'>

            <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
            <p>服务器赞助商为
                <a href="http://www.ucloud.cn/?utm_source=zanzhu&utm_campaign=cnodejs&utm_medium=display&utm_content=yejiao&ytag=cnodejs_logo" target="_blank" class="sponsor_outlink" data-label="ucloud_bottom">
                    <img src="//dn-cnode.qbox.me/FuIpEaM9bvsZKnQ3QfPtBHWQmLM9" title="ucloud" alt="ucloud" width="92px"/>
                </a> ，存储赞助商为
                <a href="http://www.qiniu.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="qiniu_bottom">
                    <img src="//dn-cnode.qbox.me/Fg0jtDIcTqVC049oVu5-sn6Om4NX" title="七牛云存储" alt="七牛云存储" width="115px"/>
                </a> ，由<a href="https://www.aliyun.com/product/nodejs?ref=cnode" target="_blank" class="sponsor_outlink" data-label="alinode_bottom">
                    <img src="//dn-cnode.qbox.me/FpMZk31PDyxkC8yStmMQL4XroaGD" title="alinode" alt="alinode" height="54px" width="166px"/>
                </a>提供应用性能服务。 </p>
            <p>新手搭建 Node.js 服务器，推荐使用无需备案的
                <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a>
            </p>
        </div>


    </div>
</div>
<div id="sidebar-mask"></div>


</body>
</html>
